html{
    scroll-behavior: smooth;
    font-family: 'Caveat Brush', cursive;
}
h2{
    font-family: 'Caveat Brush', cursive;
}
p{
    font-family: 'Caveat Brush', cursive;
}
.row q{
    font-size: 20px;
    font-family: 'Caveat Brush', cursive;
}
body{
    font-family: 'Boogaloo', cursive;
}
.rounded{
    border: 2px solid white;
    box-shadow: 4px 4px 4px #ccc;
}
.borbot{
    position: sticky;
    margin-top: -35px !important;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top2 {
      position: relative;
    }
}
.row hr{
    width: 250px;
    border-top: 4px solid black;
}
footer{
    width: 100%;
    height: 60px;
}
.fa-heart{
    color: salmon;
}
.ft{
    color: white;
    line-height: 60px;
}
.warning{
    margin-left: 0;
}

@media screen and (max-width:680px){
    .borbot{
        margin-top: -40px !important;
    }
    img,img .gmbr{
        width: 100%;
    }
    .ft{
        font-size: 10px;
    }
    p{
        text-align: center;
    }
    .jumbotron .container .row img{
        width: 170px;
    }
    .row q{
        font-size: 15px;
    }
    .sticky-top2{
        z-index: 1020;
        position: -webkit-sticky;
        position: sticky;
        top: 52px;
    }
}