html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background: url('pt.jpg');
	font-family: arial;
}
#content{
	margin-top: 270px;
	background-color: white;
	width: 100%;
	height: 540px;
	display: block;
	transition: 1s;
}
#footer{
	padding-left: 20px;
	background-color: black;
	color:white;
	height:80px;
}
h2{
	margin-top: -30px;
	margin-left: 1100px;
}
.co::after{
	margin-top: 4px;
	margin-left: 24px;
	width:0px;
	height:2px;
	color: black;
	background-color: black;
	display: block;
	content: "";
	transition: 1s width;
}
.tom{
	color: black;
	margin-top: 2px;
	background-color: white;
	border:white;
}
.co:hover::after{
	width: 100px;
}
h1{
	padding-left: 60px;
	position: absolute;
}
nav{
	transition: 2s;
	position: fixed;
	height: 60px;
	width: 100%;
	background-color:white;
}
.lol{
	margin-left: 100px;
}
.bknul{
	margin-left: 700px;
	display: inline-flex;
}
.nap{
	padding-top: 15px;
}
.hr{
	margin-top: 1px;
}
.imga{
	margin-top: 80px;
	margin-left: 100px;
	margin-right: 10px;
}
.imga:hover{
	opacity: 0.5;
	transition: 0.6;
}
.imgb{
	margin-right: 100px;
}
.imgb:hover{
	opacity: 0.5;
	transition: 0.6;
}
.imgc:hover{
	opacity: 0.5;
	transition: 0.6;
}
a{
	color: black;
	text-decoration: none;
}
ul{
	padding-top:5px;
	margin-left: 100px;
}
.ani{
	margin-top: 5px;
}
.ani::after{
	margin-left: 72px;
	margin-top: 19px;
	content: "";
	display:block;
	width:0px;
	height:2px;
	background-color: black;
	color: black;
	transition: 0.9s width;
}
.ani:hover::after{
	width:100px;
}
.anim::after{
	margin-left: -18px;
	margin-top: 19px;
	content: "";
	display:block;
	width:0px;
	height:2px;
	background-color: black;
	color: black;
	transition: 0.9s width;
}
.anim:hover::after{
	width:100px;
}
button{
	color: white;
	border:4px solid white;
	border-radius: 20px;
	background-color:transparent;
	margin-top: 250px;
	width:150px;
	height: 50px;
}
button:hover{
	background-color:white;
	transition:0.6s;
	color:black;
}
p{
	margin:60px 60px 60px 60px;
}
li{
	padding-top: 18px;
	margin-left: -18px;
	text-align: left;
	background-color: white;
	width: 100px;
	height: 30px;
	display: none;
}
ul:hover li{
	display: block;
}
li:hover{
	transition:0.8s;
	background-color: black;
}
li:hover a{
	color:white;
}
@media screen and (max-width:786px){
	li{
		padding: 20px;
		width:100%;
	}
	.tom{
	margin-left: -19px; 
	}
	.nap{
		margin-left: -90px;
		margin-top: 60px;
	}
	nav{
		font-size: 40px;
		height: 200px;
	}
	button{
		font-size: 35px;
		width: 250px;
		height: 100px;
		margin-top: 700px;
		margin-left: 550px;
	}
	#content{
		width: 1300px;
		height: 1800px;
		margin-top: 900px;
	}
	.imga{
		width:500px;
		height:500px;
		margin-left: -12px;
	}
	.imgc{
		width: 700px;
		height: 500px;
		margin-left: -17px;
	}
	.imgb{
		width: 500px;
		height: 500px;
		margin-left: 60px;
	}
	img{
		width: 290px;
		height: 
		margin-top: 100px;
		display: block;
	}
	h1{
		margin-left: 100px;
		margin-top: -20px;
		font-size: 70px;
	}
	#footer{
		width: 1280px;
	}
}